<ul id="nav1">
	<li><a href="{{ site.baseurl }}/about-me/" class="{% if page.url contains '/about-me/' %}current{% endif %}">About</a></li>
  <li><a href="{{ site.baseurl }}/drama/" class="{% if page.url contains '/drama/' %}current{% endif %}">Drama</a></li>
  <li><a href="{{ site.baseurl }}/documentary/" class="{% if page.url contains '/documentary/' %}current{% endif %}">Documentary</a></li>
  <li><a href="{{ site.baseurl }}/shorts/" class="{% if page.url contains '/shorts/' %}current{% endif %}">Shorts</a></li>
  <li><a href="{{ site.baseurl }}/contact/" class="{% if page.url contains '/contact/' %}current{% endif %}">Contact</a></li>
</ul>
